.background{
    width: 100%;
    height: 100px;
    background: #383D53;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.background h6{
    font-size: 16px;
    margin-bottom: 20px;
}
.background>div>div{
    font-size: 14px;
}
 .date{
     padding: 3px 25px;
    font-size: 12px;
    color: #666666;
     display: flex;
     justify-content: space-between;
}
.detail>ul{
    padding: 3px 25px;
    border-bottom: 1px solid #666666;
    border-top: 1px solid #666666;
    margin-bottom: 25px;
}
.detail>ul>li{
    font-size: 14px;
    color:#000;
    margin-top: 15px;
    border-bottom: 1px solid #666666;
    position: relative;
}
.detail>ul>li:last-child{
    border-bottom:0;
}
.detail>ul span{
    font-size: 16px;
    color: #E86364;
    text-align: right;
    position: absolute;
    right: 0;
    top:10px;
}
.detail>ul p{
    font-size: 14px;
    color: #666;
    padding:10px 0 12px 0;
}
