.header>h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}
.header>h1>span:nth-child(1){
    font-size: 12px;
}
.header>h1>span:nth-child(4){
    width: 20px;
    height: 20px;
}
.header>h1>span:nth-child(4)>>a>img{
      display: block;
      width: 20px;
      height: 20px;
      margin-left:15px;
  }
.header>h1>span:nth-child(1)>img{
    width: 20px;
    height: 20px;
    position: relative;
    top:5px;
}
.in-red{
    color: #E86364;
}
.in-button{
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 12px 30px;
    font-size: 13px;
    line-height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.in-button>div{
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 33.33%;
    height: 33px;
}
.in-button>div:nth-child(2),.in-button>div:nth-child(3){
    border: 1px solid  rgba(121, 121, 121, 1);

}
.in-button>div:nth-child(3){
    border-radius:0 5px 5px 0;
}

.in-button>div:nth-child(1){
    color: #fff;
    background: url("../img/in-button.png");
    background-size: 100%;
    height: 34px;
    position: relative;
    right: -2px;
    border-radius: 5px 0 0 5px;
}
.in-word{
    font-size: 14px;
    margin:0 0 10px 35px;
}
.in-tubiao{
    width: 100%;
    height: 168px;
    margin-top: -10px;
}
.in-tubiao>img{
    display: block;
    width: 100%;
    height: 100%;
}
.in-three{
    padding: 0 20px 0 15px;
}
.in-three>p{
    font-size: 14px;
    margin-bottom: 10px;
    color: #666666;
}
.in-type{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    margin-bottom: 5px;

}
.in-type>img {
    position: relative;
    left: -5px;
}
.in-word2{
    position: relative;
    top: -15px;
    margin-bottom: 10px;
}
.in-type>span{
    font-size: 14px;
}
.in-type>div:nth-child(2){

}

.in-type>div:nth-child(2){

}