


#content{
	background-color: #fff;
	font-size:0.533333rem;
}
#content #list{
	font-size:0.533333rem;
}
#content #list>li{
	padding:10px 0;
	border-bottom:1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#list>li>a{
	display: block;
	width: 33px;
	height: 33px;
	position: relative;
}
#content .pic{
	position: absolute;
	top:6px;
	right:0;
	width:0.586667rem;
	height:0.586667rem;
}
#content .btn{
	margin:30px 25px;
	background-color:#e86364;
	height:1.12rem;
	width:8rem;
	color:#fff;
	text-align: center;
	line-height: 1.12rem;
	border-radius: 8px;
}
