

.register-form>.group{
	margin-bottom:0.426667rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
}
.register-form>.group>label{
	width:2.6rem;
	text-align:left;
	line-height: 1rem;
	font-size:0.373333rem;
	padding-right:10px;
}
.register-form>.group>input{
	/*float: right;*/
	/*width:3.9rem;*/
	/*height:0.98rem;*/
	border:0;
	/*padding-right:0;*/
	outline: none;
	text-align: right;
}
.register-form>.group>select{
	float: right;
	height:0.98rem;
	border:0;
	outline: none;
	text-align: right;
}
.register-form .btn{
	overflow: hidden;
}
.register-form .btn>a{
	background-color:#e86364;
	display: block;
	height:1rem;
	border:0;
	color:#fff;
	font-size:0.373333rem;
	border-radius: 8px;
}
select{
	-moz-appearance:none;
	-webkit-appearance:none;
	color: rgb(153, 153, 153);
}